.skills .inner-content {
    margin-bottom: 50px;
}

.skills-description {

    width: 100%;
    margin-bottom: 50px;
}

.skills-description h3 {
    font-size: 30px;
    margin-bottom: 5px;
}

.skills-description p {
    font-size: var(--normal-font-size);
    max-width: 700px;
}

@media (max-width: 400px) {
    .skills-description p {
        font-size: 14px;
        margin: 0 auto;
        width: 300px;
    }
}

.skills-info {
    max-width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 21px;
    margin-bottom: 20px;
}

.education {
    min-width: 320px;
    width: 32%;
}

.education .label {
    color: #fff;
    font-weight: 400;
    text-transform: capitalize;
    padding: 5px 15px;
    border-radius: 5px;
    background: var(--second-color);
    display: inline-block;
}

.education-list .item {
    padding: 20px;
    margin-top: 15px;
    border-radius: 6px;
    background: var(--card-bg-color);
    box-shadow: var(--box-shadow);
    border-bottom: 3px solid var(--second-color);
    transition: .3s linear;
}

.education-list .year {
    margin-bottom: 10px;
    font-size: var(--small-font-size);
    color: var(--first-color);
    font-weight: 500;
    display: block;
}

.education-list p {
    color: var(--third-color);
}

.education .bar {
    background: var(--card-bg-color);
    box-shadow: var(--box-shadow);
    margin-top: 15px;
    padding: 18px;
    border-radius: 6px;
    transition: .3s linear;
}

@media (max-width: 1100px) {
    .education .bar {
        padding: 22.5px;
    }
}

@media (max-width: 1039px) {
    .education .bar {
        padding: 25px;
    }
}

.education .info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
    text-transform: uppercase;
    font-size: var(--small-font-size);
}

.info span {
    font-weight: 500;
}

.bar .line {
    position: relative;
    width: 100%;
    height: 7px;
    border-radius: 2px;
    background: #c5cadf;
    overflow: hidden;

    &::before {
        content: "";
        position: absolute;
        height: 100%;
        top: 0;
        left: 0;
        background: var(--second-color);
        border-radius: 2px;
        width: var(--width);
        transition: width 1s ease;
    }
}



@media (max-width: 1000px) {
    .skills-description h3 {
        text-align: center;
        width: 100%;
    }

    .skills-description p {
        text-align: center;
    }

    .skills .inner-content {
        margin-bottom: 40px;
    }
}

@media (max-width: 600px) {
    .skills .inner-content {
        margin-bottom: 20px;
    }

    .skills-info {
        margin-bottom: 0px;
    }
}

.work-exp {
    width: 100%;
    max-width: 100%;
}


.work-exp .work-exp-title {
    font-size: 30px;
    margin-bottom: 50px;
}

.work-exp .experience-card {
    background: var(--card-bg-color);
    border-bottom: 3px solid var(--second-color);
    box-shadow: var(--box-shadow);
    border-radius: 6px;
    min-width: 320px;
    width: 32%;
    padding: 35px;
    transition: .3s linear;
}

.upper h3 {
    font-size: 22px;
    font-weight: 700;
}

.upper h5 {
    font-weight: 500;
    font-style: italic;
    font-size: var(--small-font-size);
}

.upper span {
    color: var(--third-color);
}

.experience-card .hr {
    width: 100%;
    height: 2px;
    margin: 10px 0 22px;
    background: var(--liner-color);
}

.experience-card p {
    margin-top: 22px;
}

.experience-card:hover,
.education-list .item:hover,
.bar:hover {
    transform: scale(1.03);
    cursor: pointer;
}

@media screen and (max-width: 1000px) {
    .work-exp .work-exp-title {
        text-align: center;
        margin-bottom: 40px;
    }
}

@media screen and (max-width: 600px) {
    .work-exp .work-exp-title {
        margin-bottom: 20px;
    }
}