.section {
    position: relative;
    width: 100%;
    margin: 30px 0 20px;

    .flex-center {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .inner-title {
        font-size: 60px;
        font-weight: 800;
        margin-bottom: 20px;
        background: linear-gradient(to top,
                transparent 0%,
                var(--first-color) 70%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        opacity: 0.1;
        text-align: center;
    }

    .inner-second-title {
        position: relative;
        font-size: 25px;
        font-weight: 700;
        transform: translateY(-55px);
        text-align: center;

        &::before {
            content: "";
            position: absolute;
            width: 100%;
            height: 5px;
            left: 0;
            bottom: -5px;
            background: var(--second-color);
        }
    }
}

@media (max-width: 992px) {
    .section {
        margin: 20px 0 20px;

        .inner-title {
            font-size: 50px;
        }

        .inner-second-title {
            font-size: 22px;
            transform: translateY(-45px);
        }
    }
}

@media (max-width: 700px) {
    .section {
        .inner-title {
            font-size: 42px;
        }

        .inner-second-title {
            font-size: 20px;
            transform: translateY(-35px);
        }
    }
}

@media (max-width: 480px) {
    .section {
        margin: 10px 0 10px;

        .inner-title {
            font-size: 34px;
        }

        .inner-second-title {
            font-size: 18px;
            transform: translateY(-25px);
        }
    }
}

@media (max-width: 320px) {
    .section {
        .inner-title {
            font-size: 28px;
        }

        .inner-second-title {
            font-size: 16px;
            transform: translateY(-20px);
        }
    }
}