.nav {
    flex: 1;
    display: flex;
    justify-content: center;
}

.nav-menu {
    display: flex;
    gap: 50px;
    align-items: center;
}

.nav-link {
    cursor: pointer;
    font-weight: 500;
    text-transform: capitalize;
    color: var(--first-color);
    font-size: var(--normal-font-size);
    transition: .3s linear;
    transition: 1s;
    opacity: 70%;
}

.nav-link:hover {
    scale: 1.1;
    opacity: 100%;
}

.nav-link.active,
.nav-link:hover {
    color: var(--second-color);
}

.nav-menu-btn {
    display: none;
}


@media (max-width:980px) {

    .nav-menu-btn {
        display: block;
        position: relative;
        z-index: 5;
        background: url(../img/burger.svg) no-repeat center;
        width: 40px;
        height: 40px;
        cursor: pointer;
        transition: .3s linear;
    }

    .nav-menu-btn>svg {
        font-size: 35px;

    }

    .nav-menu-btn.close {
        background: url(../img/close.svg) no-repeat center;
    }

    .nav {
        position: fixed;
        width: 100%;
        height: 100vh;
        top: 0;
        left: 0;
        align-items: center;
        background: var(--bg-transparent-color-01);
        visibility: hidden;
        opacity: 0;
        z-index: -1;
        transition: .3s linear;
    }

    .nav.active {
        z-index: 3;
        opacity: 1;
        visibility: visible;
    }

    .nav-menu {
        position: relative;
        flex-direction: column;
        max-width: 600px;
        width: 100%;
        margin: 20px;
        padding: 40px;
        background: var(--modal-bg-color);
        border-radius: 10px;
        transform: translateY(-65%);
        transition: .3s linear;
    }

    .nav-menu.active {
        transform: translateY(0%);
    }

    .nav-menu li {
        text-align: center;
    }
}
.logo_img {
    width: 50px;
    height: 50px;
}
@media(max-width :400px){
    .logo_img {
    width: 40px;
    height: 40px;
}
}